{% extends 'shared/layout.html.twig' %}
{% block body %}
    <ul>
        <li><a href="/user/home">Ana Sayfa</a></li>
        <li><a href="/user/profile">Profil</a></li>
        <li><a href="/ticket/create-form">Yeni Oluştur</a></li>
        <li><a href="/user/logout">Çıkış</a></li>
    </ul>
    <table>
        <tr>
            <th>#</th>
            <th>Oluşturma</th>
            <th>Son Değişiklik</th>
            <th>Başlık</th>
            <th>Önem</th>
            <th>Aç</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.ticket_id }}</td>
                <td>{{ ticket.create_date|date("Y-m-d H:i") }}</td>
                <td>{{ ticket.modify_date|date("Y-m-d H:i") }}</td>
                <td>{{ ticket.ticket_title }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.status }}</td>
                <td><a href="/ticket/update-form/{{ ticket.ticket_id }}">Aç</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}